{% extends "layout.twig" %}

{% block content %}
<form class="form-horizontal" method="post">
<fieldset>

<!-- Form Name -->
<legend>{% trans %}Ein XMPP-Konto registrieren{% endtrans %}</legend>

<p>{% trans %}Vielen Dank für deine Registrierung. Dir wurde eine E-Mail mit einem aktivierungs Link zugeschickt.{% endtrans %}</p>

</fieldset>
</form>
{% endblock %}